:root
{
    --blue-dark: #2f2e41;
    --orange: #E85128;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #eaeaea;
}

.page-error
{
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
}

.page-error img
{
    max-width: 150px;
}

.page-error h1
{
    font-weight: 300;
    font-size: 25px;
    margin-top: 1rem;
    color: var(--blue-dark);
}

/* -------------------- */

ul#wappers
{
    max-width: 500px;
    margin: 1rem auto;
    padding: 1rem;
}

ul#wappers li
{
    list-style: none;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

ul#wappers li p
{
    color: var(--blue-dark);
    margin-bottom: 6px;
    font-weight: 400;
}

ul#wappers li p.name
{
    font-size: 22px;
}

ul#wappers li img
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
}

ul#wappers li nav
{
    text-align: right;
    margin-top: 15px;
}

ul#wappers li nav a
{
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.2s;
}

ul#wappers li nav a:active
{
    opacity: 0.8;
}

ul#wappers li nav a:first-child
{
    background-color: var(--orange);
    color: #fff;
}

ul#wappers li nav a:last-child
{
    background-color: #dcdcdc;
    color: rgb(48, 48, 48);
}

/* -------------------- */

.create-wapper-nav, .list-wappers-nav
{
    text-align: right;
    padding: 1rem;
    max-width: 700px;
    margin: 1rem auto;
}

.create-wapper-nav a, .list-wappers-nav a
{
    transition: all .2s;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: var(--blue-dark);
    color: #fff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.create-wapper-nav a:active, .list-wappers-nav a:active
{
    opacity: 0.8;
}

/* -------------------- */

form#create-wapper
{
    max-width: 500px;
    margin: 10px auto 4rem auto;

}

form#create-wapper .input-group
{
    padding: 5px;
}

form#create-wapper .input-group label
{
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-dark);
}

form#create-wapper .input-group input
{
    border: none;
    outline: none;
    background: none;

    border: 1px solid #d8d8d8;
    transition: all .2s;
    font-size: 14px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
}

form#create-wapper .input-group input:focus
{
    border-color: #a7a7a7;
}

/* Autocomplete background-color */
form#create-wapper input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

form#create-wapper button[type=submit]
{
    outline: none;
    border: none;
    background: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background-color: var(--blue-dark);
    padding: 10px 16px;
    border-radius: 4px;
    transition: all .2s;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

form#create-wapper button[type=submit]:active
{
    opacity: 0.8;
}

form#create-wapper .submit-box
{
    text-align: right;
}

/* -------------------- */

.alert
{
    border: 1px solid #b3e9c9;
    margin: 1rem 0;
    border-radius: 4px;
    padding: 1rem;
    text-align: left;
    font-weight: 500;
    background-color: #ccf1db;
    color: #006e2c;
    font-size: 14px;
}

.d-none
{
    display: none;
}