:root
{
    --blue-dark: #2f2e41;
    --orange: #E85128;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #eaeaea;
}

/* -------------------- */

.nav-control
{
    text-align: right;
    padding: 1rem;
    max-width: 700px;
    margin: 1rem auto;
}

.nav-control a
{
    transition: all .2s;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(185 80 28) 0%, rgb(229 128 78) 100%);
    color: #fff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.nav-control a:hover
{
    background-color: #1c1b29;
}

.nav-control a:active
{
    opacity: 0.9;
}

/* -------------------- */

#wapper-list
{
    max-width: 420px;
    margin: 0 auto;
}

#wapper-list li
{
    list-style: none;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#wapper-list li p
{
    color: #0a0a0a;
    margin-bottom: 6px;
    font-weight: 400;
}

#wapper-list li p.name
{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}

#wapper-list li img
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 4px;
}

#wapper-list li nav
{
    text-align: right;
    margin-top: 20px;
}

#wapper-list li nav a
{
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.2s;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#wapper-list li nav a:active
{
    opacity: 0.9;
}

#wapper-list li nav a:first-child
{
    background-color: var(--orange);
    color: #fff;
}

#wapper-list li nav a:last-child
{
    background-color: #dcdcdc;
    color: rgb(36, 36, 36);
}

/* -------------------- */

form
{
    max-width: 500px;
    margin: 0 auto 4rem auto;
}

form p.photo-info
{
    font-size: 13px;
    color: #5d5d5d;
    margin-top: 5px;
    padding: 10px;
}

form .input-group
{
    padding: 5px;
}

form .input-group label
{
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-dark);
}

form .input-group input
{
    border: none;
    outline: none;
    background: none;

    border: 1px solid #d8d8d8;
    transition: all .2s;
    font-size: 14px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
}

form .input-group input:focus
{
    box-shadow: 0 0 0px 1px rgb(47 46 65);
}

/* Autocomplete background-color */
form input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

form button[type=submit]
{
    outline: none;
    border: none;
    background: none;

    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background-color: var(--blue-dark);
    padding: 10px 15px;
    border-radius: 4px;
    transition: all .2s;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

form button[type=submit]:active
{
    opacity: 0.9;
}

form .submit-box
{
    text-align: right;
}

/* -------------------- */

.alert
{
    border: 1px solid #a0d2b4;
    margin: 1rem 0;
    border-radius: 4px;
    padding: 1rem;
    text-align: left;
    font-weight: 500;
    background-color: #b3eaca;
    color: #2a4c38;
    font-size: 14px;
}

/* -------------------- */

.page-notification
{
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
}

.page-notification h1
{
    font-weight: 300;
    font-size: 25px;
    margin-top: 1rem;
    color: var(--blue-dark);
}

.page-notification img
{
    display: inline-block;
    max-width: 150px;
}

/* -------------------- */

.d-none
{
    display: none;
}